.about-me .about-me-image {
    border-radius: var(--bs-border-radius);
    max-width: 100%;
}

.about-me .d-sm-block .about-me-image {
    margin-bottom: 10px;
}

.about-me .row {
    display: flex;
    align-items: center;
}

