.about-page {
    text-align: center;
}

.about-page .row {
    display: flex;
    justify-content: center;
}

.about-page img {
    max-height: 280px;
    object-fit: cover;
}

@media (max-width: 700px) {
    .about-page img {
        max-height: 160px;
    }
}

.about-page .img-thumbnail {
    transition: 0.75s;
}

.about-page .img-thumbnail:hover {
    border: 3px solid rgb(33, 37, 41);
}
