.achievements .card {
    transition: 0.3 ease;
}

.achievements .card:hover {
    transform: scale(1.02);
}

.achievements .card-subtitle {
    font-style: italic;
}

.achievements .row {
    margin-top: calc(var(--bs-gutter-x) * .5) !important;
}

@media (max-width: 700px) {

    .achievements .row {
        margin-bottom: calc(var(--bs-gutter-x) * -.5) !important;
    }

    .achievements .btn {
        margin-top: calc(var(--bs-gutter-x) * .5);
    }
    
}

.achievements .btn {
    margin-left: 4px;
    margin-right: 4px;
}